.loader {
    @apply flex;
    @apply flex-row;
    @apply justify-center;

    span {
        @apply h-full;
        @apply mr-2;

        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border: 4px solid rgba(9, 133, 81, 0.705);
        border-radius: 50%;
        border-top-color: #1a202c;
        animation: spin 1s ease-in-out infinite;
    }

    p {
        margin-top: 0px !important;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}