@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-gray-900;
    @apply text-white;
}

.Toastify__toast {
    @apply rounded-full;
    @apply p-4;
    @apply max-w-2xl;
    @apply w-full;
    @apply mt-2;
    @apply mx-6;
    @apply overflow-hidden;
    @apply h-16;
    @apply flex;
    @apply items-center; 
    @apply max-w-2xl;
    margin-left: auto;
    margin-right: auto;
}

.Toastify__toast-body {
    @apply w-full; 
    @apply px-3;
    @apply py-2;
    @apply text-sm;
    @apply bg-red-500;
}

.Toastify__toast--error {
    @apply bg-red-500;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}